venv/
*.pyc
persist
temps
local
JZquant.egg-info
bcolz
.cache
.coverage
.idea
.DS_Store
build
*.so
*.c
ta-lib
ta-lib-0.4.0-src.tar.gz
*.log
#pkgs
/scripts/calibration.py
/scripts/get_strategy/get_strategy.py
/scripts/min.py
/rqalpha/examples/*
.pytest_cache
parser.out
parsetab.py
*.egg-info